@media screen and (max-width: 599px) and (min-width: 10px) {
    .right_side{
        width: 100%;
        z-index: 2;
    }

    .add_admin {
        background-color: white;
        bottom: -127px;
        display: none;
        width: 100%;
    }

}