@media screen and (max-width: 599px) and (min-width: 10px) {
    header {
        width: 95%;
        height: 90px;
    }

    header .principal {
        display: none;
    }

    header #search {
        display: none;
    }

    header .balance {
        display: block;
        margin-right: 6px;
    }

    header .bars {
        display: flex;
        position: relative;
        left: 4px;
        font-size: 26px;
        border: none;
    }

    header .panier {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    header .fa-shopping-cart {
        font-size: 26px;
    }

    header .shop_cart {
        position: relative;
        left: -4px;
        border: none;
    }

    header .logo {
        width: 150px;
        cursor: pointer;
    }

    .img_slider {
        width: 100%;
    }

    .first_title {
        text-align: center;
        margin-top: 20px;
        cursor: default;
        font-size: 16px;
    }

    .container {
        width: 100%;
        margin-top: 20px;
    }

    .img_slider img {
        width: 26rem;
    }

    .img_slider {
        height: 11.5rem;
        margin-left: -8px;
        width: 100%;
    }

    .the_cart {
        width: 95%;
    }

    

    .pro_added {
        width: 100%;
        margin: 5px auto;
        display: flex;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
        border-radius: 5px;
        box-sizing: border-box;
        background-color: white;
    }
}


@media screen and (max-width: 768px) and (min-width: 600px) {
    .the_cart {
        width: 90%;
    }

}